In [2]:
import pandas as pd

aqui estoy creando una lista y en index le estamos indicando en numero de indice que queremos que tenga

In [10]:
psg_players = pd.Series(['Navas','Nbappe','Neymar','Messi'],
index = [1,7,10,30]
)
psg_players

1      Navas
7     Nbappe
10    Neymar
30     Messi
dtype: object

si no se el indica el indice genera uno en automatido a partir de 0

In [9]:
psg_players = pd.Series(['Navas','Nbappe','Neymar','Messi'],
)
psg_players

0     Navas
1    Nbappe
2    Neymar
3     Messi
dtype: object

tambien se puede generar como un diccionario de python

In [11]:
dic = {1:'Navas',7:'Nbappe',10:'Neymar',30:'Messi'}
pd.Series(dic)

1      Navas
7     Nbappe
10    Neymar
30     Messi
dtype: object

In [13]:
psg_players[30]

'Messi'

Para mas de una dimension usamos daraframe

In [20]:
dict = {'Jugador':['Navas','Nbappe','Neymar','Messi'],
'Altura':[183.0,170.0,170.0,165.0],
'Goles':[2,200,200,200]
}
df_Players =pd.DataFrame(dict,index = [1,7,10,30])
df_Players

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Nbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

Puedo ingresar desde el indice de la fila con index y por columna tambien con columns

In [21]:
df_Players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [22]:
df_Players.index

Int64Index([1, 7, 10, 30], dtype='int64')